version: "3"

services:
  api_gateway_node:
    build:
      context: .
      dockerfile: Dockerfile
    image: api-gateway-node
    container_name: api-gateway-node
    ports:
      - 7652:7652
    working_dir: /app
    networks:
      - micro-net
    restart: always
    command: >
      node ./server.js

networks:
  micro-net:
    external: true
